.main > div:nth-child(odd){
    background-color: black;
    border: 1px solid black;
    color:black
}
.main > div:nth-child(even){
    background-color: white;
    border: 1px solid black;
    color:white
}
.main2 > div:nth-child(odd){
    background-color: white;
    border: 1px solid black;
    color:white
}
.main2 > div:nth-child(even){
    background-color: black;
    border: 1px solid black;
    color:black
}


.main{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(190px,auto);
}
.main2{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(190px,auto);
}
.container{
    border: 5px solid black;
    border-style: double;
}